/* --------------- IMG   ---------------          */
.bgcoffeimg {
    display: block;
    size: auto;
    margin: auto;
}

.icons-redes {
    color: var(--blanco);
}
.coffe-img {
  width: 100%; 
  height: 60rem;
}
.api-google {
    width:  100%;
    height: auto;
}