/* --------------- IMG   ---------------          */
.bgcoffeimg {
    display: block;
    size: auto;
    margin: auto;
}

.iconssup {
    color: var(--blanco);
}
.coffeimg {
  width: 100%; 
  height: 60rem;
}
.imgpersonas {
    width: 50rem;
    height: 50rem;
}

.apigoogle {
    width: auto;
    height: auto;
}