
/*  --------------- Nav Bar  --------------- */
.nav-bg {
    background-color: var(--secundario);
    width: 100%;
}
.NavPrincipal {        
        display: flex;
        flex-direction: row;
          align-items: center;
          justify-content: space-between;
}

.NavPrincipal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem;   

}
.redeshover:hover {
    width: 5rem;
    height: 5rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}