/* NavBar  ----RESPONSIVE------ */ 

@media (min-width: 1280px) {
    .NavPrincipal {
        flex-direction: row;
        justify-content: space-between;    
    } 
}

@media (max-width: 1279px) {
    .NavPrincipal {
        flex-direction: column;
        justify-content: space-between;    
    } 
}


/* Contenido ITEM 1  ¿Que hacemos? - Index ----RESPONSIVE------*/ 
@media (min-width: 1280px) {
    .gridcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
    .griditem1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .griditem2 {
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 3rem;
    }
}

/* Contenido ITEM2 & ITEM3 - Index  ----RESPONSIVE------ */
@media (max-width: 768px) {
    .gridmain {
        display: flex;
        flex-direction: column;
    }

    .apigoogle {
        width: 50%;
        height: 50%;
    }
}

/* Responsive Page Somos */

@media (max-width: 1550px) {
    .contentsomos {
        display: flex;
        flex-direction: column;

    } 
}

@media (max-width: 900px) {
    .imgpersonas,.izqsomosimg {
        width: 100%;
        height: auto;
    } 
}

@media (max-width: 692px) {
    .derecharesponsive {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .TxtSomosResponsive {
        grid-row: 1 / 2;
        text-align: center;
    } 
    .imgpersonas {
        grid-row: 2 / -2;
        width:  auto;
        height: auto;
        justify-content: center;
        align-items: center;
    }
}


