/* ¿Quienes somos */



.content-somos {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 5px;
}

.IzqSomos {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.IzqSomostext {
    display: flex;
    flex-direction: column;
}

.IzqSomosimg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80rem;
    height: 40rem;
    padding: 1rem;
}
.DerechaSomos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}